# IAM permissions require service name to begin with 'integration-tests'
service: integration-tests-rb

provider:
  name: aws
  region: sa-east-1
  tracing:
    lambda: true
    apiGateway: true
  environment:
    DD_INTEGRATION_TEST: true
    DD_API_KEY: ${env:DD_API_KEY}
  lambdaHashingVersion: 20201221
  timeout: 15
  deploymentBucket:
    name: integration-tests-deployment-bucket
  iam:
    # IAM permissions require that all functions are deployed with this role
    role: "arn:aws:iam::601427279990:role/serverless-integration-test-lambda-role"

layers:
  ruby:
    package:
      artifact: ../.layers/datadog-lambda_ruby${env:RUBY_VERSION}.zip

functions:
  # async-metrics
  async-metrics_ruby:
    name: integration-tests-rb-${sls:stage}-async-metrics_${env:RUNTIME}
    handler: send_metrics.handle
    runtime: ${env:SERVERLESS_RUNTIME}
    layers:
      - { Ref: RubyLambdaLayer }
    environment:
      DD_FLUSH_TO_LOG: true

  # sync-metrics
  sync-metrics_ruby:
    name: integration-tests-rb-${sls:stage}-sync-metrics_${env:RUNTIME}
    handler: send_metrics.handle
    runtime: ${env:SERVERLESS_RUNTIME}
    layers:
      - { Ref: RubyLambdaLayer }

  # http-requests
  http-requests_ruby:
    name: integration-tests-rb-${sls:stage}-http-requests_${env:RUNTIME}
    handler: http_requests.handle
    runtime: ${env:SERVERLESS_RUNTIME}
    layers:
      - { Ref: RubyLambdaLayer }

  # process-input-traced
  process-input-traced_ruby:
    name: integration-tests-rb-${sls:stage}-process-input-traced_${env:RUNTIME}
    handler: process_input_traced.handle
    runtime: ${env:SERVERLESS_RUNTIME}
    layers:
      - { Ref: RubyLambdaLayer }
    environment:
      DD_FLUSH_TO_LOG: true

  # http-error
  http-error_ruby:
    name: integration-tests-rb-${sls:stage}-http-error-${env:RUNTIME}
    handler: http_error.handle
    runtime: ${env:SERVERLESS_RUNTIME}
    layers:
      - { Ref: RubyLambdaLayer }
    environment:
      DD_FLUSH_TO_LOG: true